.contact{
    display: flex;
    background: #f8f8f8;
    transition: background-color 0.4s ease-in-out;
    align-items: center;
    width: 100%;
}

.contact--dark{
    background-color: rgb(39, 38, 38);
    color: #fff;
    transition: background-color 0.4s ease-in-out;
}

.info{
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    
}

.or-h2{
    margin-top: 50px;;
}

.btn-download{
    border: 1px solid #8080E0;
    background: transparent;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    font-size: large;
}

.btn-download:hover {
    scale: 1.1;
    background-color: #8080E0;
    color: #FFF;
    cursor: pointer;
    transition: 0.6s;
}
  
.btn-download:active {
    scale: 0.9;
}

.btn-download--dark{
    color: #fff;
    transition: background-color 0.4s ease-in-out;
}

.btn-download--dark:hover {
    scale: 1.1;
    background-color: #8080E0;
    cursor: pointer;
    transition: 0.6s;
}

.btn-download--dark:active {
    scale: 0.9;
}


.form{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 3vh;
    margin-bottom: 10vh;
}

input, textarea{
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    outline: 0;
    border: 1px solid #8080E0;
    border-radius: 10px;
    background: transparent;
}

.input-group{
    position: relative;
    margin-bottom: 30px;
    
}
label-group{
    height: 100%;
    position: absolute;
    cursor: text;
    left: 0;
    top: 0;
    transition: 0.6s;
}

textarea[name="message"] {
    width: 100%;
    height: 200px;
    resize: none;
}

.btn-send:hover{
    background-color: #8080E0;
    color: #f8f8f8;
    cursor: pointer;
    transition: 0.6s;
}

.btn-send--dark{
    color: #f8f8f8;
}

.btn-send:hover--dark{
    color: rgb(39, 38, 38);
    background-color: #8080E0;
    cursor: pointer;
    transition: 0.6s;
}
.input-box{
    box-shadow: 0 2px 12px rgba(0,0,0,.1), 0 5px 5px rgba(0,0,0,.1);
}

.input-box--dark{
    color: #f8f8f8;
}