.modal-card{

    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    padding: 5px;
    z-index: 1000;

    border-radius: 12px;
}

.overlay {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1000;
  }
  

  .close-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    }