.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
  }

.modal-card{
    width: clamp(50%, 800px, 90%);
    padding: 20px;
    position: fixed;
    background-color: #FFF;
    border-radius: 12px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    max-height: 95vh;
    overflow: auto;
}
.modal-card--dark{
    background-color: 	rgb(26, 25, 25);
    color: #fff;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
    z-index: 1000;
  }
  

.close-btn {
    position: absolute;
    top: 20px;
    left: 8%;
    transform: translateX(-50%);
    background: var(--gradient);
    border: none;
    cursor: default;
    color: #BA4848;
}

.close-btn:hover{
    scale: 1.1;
}


.carousel{
    cursor: grab;
    overflow: hidden;
}
.carousel:active{
    cursor: grabbing;
}

.inner-carousel{
    display: flex;
    
}

.item{
    min-height: 1rem;
    min-width: 85%;
    padding: 0 18px 10px 18px;
}


.item img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
}

.title-project{
    margin-bottom: 5px;
}


.modal-content{
    border: 5px solid #8080E0;
    border-radius: 10px;
    padding: 10px;
    font-size: small;
}
.project-info{
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid #8080E0;
    border-radius: 5px;
}

.project-date{
    padding: 0.5rem;
    width: 50%;
    margin-bottom: 1rem;
    border-right: 2px solid #8080E0;
}
.project-language{
    padding: 0.5rem;
    width: 50%;
    margin-bottom: 1rem;
    border-left: 2px solid #8080E0;
}
.project-description{
    padding: 1rem;
}

.github-icon:hover{
    cursor: pointer;
    color: #6cc644; 
}

.github-icon{
    padding-top: 5px;
}